@model SGB_Lobo.Models.ViewModels.AutorViewModel

@{
    ViewBag.Title = "Detalhes do Autor";
}

<div class="container-fluid">
    <h2>Detalhes do Autor</h2>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.DataNascimento.ToString("dd/MM/yyyy")
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nacionalidade)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nacionalidade)
                        </dd>

                        <dt class="col-sm-2">
                            Livros
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Livros != null && Model.Livros.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var livro in Model.Livros)
                                    {
                                        <li class="list-group-item">
                                            @livro.Titulo (@livro.AnoPublicacao)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>Nenhum livro cadastrado.</p>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
</div>